
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>account-management</title>

</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>

<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">-->
<script>

</script>
</html>





<!--<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style scoped>
    #form {
      margin-top: 10px;
    }
    #buttons {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }


  </style>

</head>
<body>
<div>


  <div id="app">
    <v-app id="inspire">
      <v-layout justify-center>
        <v-flex xs12 sm10 md8 lg6>
          <div id="buttons"><center>
          <v-btn large disabled color="primary">DASHBOARD</v-btn>
          <v-btn large color="primary">ADD ACCOUNTS</v-btn>
          <v-btn large color="primary">GET ACCOUNTS</v-btn>
          </center>
          </div>

          <v-card id="form" ref="form">
            <v-card-text>
              <v-text-field
                ref="firstName"
                v-model="firstName"
                :rules="[() => !!firstName || 'This field is required']"
                :error-messages="errorMessages"
                label="First Name"
                placeholder="John"
                required
              ></v-text-field>
              <br>
              <v-text-field
                ref="lastName"
                v-model="lastName"
                :rules="[() => !!lastName || 'This field is required']"
                :error-messages="errorMessages"
                label="Last Name"
                placeholder="Doe"
                required
              ></v-text-field>
              <br>
              <v-text-field
                ref="accountNumber"
                v-model="accountNumber"
                :rules="[() => !!accountNumber || 'This field is required']"
                :error-messages="errorMessages"
                label="Account Number"
                placeholder="3343563"
                required
              ></v-text-field>
            </v-card-text>
            <v-divider class="mt-5"></v-divider>
            <v-card-actions>
              <v-btn flat>Cancel</v-btn>
              <v-spacer></v-spacer>
              <v-slide-x-reverse-transition>
                <v-tooltip
                  v-if="formHasErrors"
                  left
                >
                  <v-btn
                    slot="activator"
                    icon
                    class="my-0"
                    @click="resetForm"
                  >
                    <v-icon>refresh</v-icon>
                  </v-btn>
                  <span>Refresh form</span>
                </v-tooltip>
              </v-slide-x-reverse-transition>
              <v-btn color="primary" flat @click="submit">Submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-app>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
  new Vue({
    el: '#app',
    data: () => ({
      errorMessages: '',
      firstName: null,
      lastName: null,
      accountNumber: null,

      formHasErrors: false
    }),

    computed: {
      form () {
        return {
          firstName: this.firstName,
          lastName: this.lastName,
          accountNumber: this.accountNumber,

        }
      }
    },

    watch: {
      name () {
        this.errorMessages = ''
      }
    },

    methods: {

      resetForm () {
        this.errorMessages = []
        this.formHasErrors = false

        Object.keys(this.form).forEach(f => {
          this.$refs[f].reset()
        })
      },
      submit () {
        this.formHasErrors = false

        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true

          this.$refs[f].validate(true)

          window.location.href = this.firstName;

        })
      }
    }
  })
</script>
</body>
</html>-->
